@import url(./../../node_modules/swiper/swiper.css);
html {
    box-sizing: border-box;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-feature-settings: "kern" on, "liga" on;
    font-feature-settings: "kern" on, "liga" on;
    font-kerning: normal;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

*,
*:before,
*:after {
    font-family: inherit;
    box-sizing: inherit;
    scroll-behavior: inherit;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

*:focus-visible {
    outline: auto 5px;
}

body {
    margin: 0;
    overflow-x: hidden;
}

iframe {
    border: 0;
}

main {
    display: block;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    background-color: initial;
    border: initial;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: inherit;
}

strong {
    font-weight: bold;
}

img {
    border: 0;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

picture {
    display: inline-block;
}

svg {
    width: 100%;
    fill: currentColor;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

:root {
    --wp-admin-bar: 0;
}

#wpadminbar {
    position: fixed !important;
}

.admin-bar {
    --wp-admin-bar: 46px;
}
@media screen and (min-width: 783px) {
    .admin-bar {
        --wp-admin-bar: 32px;
    }
}
:root {
    --columns: 12;
    --site-margin: 2rem;
    --site-indent-sm: max(1.6rem, 2.2222222222vw);
    --site-indent-md: 10%;
    --site-indent-lg: 20%;
    --site-column-gap: 4rem;
    --transition-xl: 1920ms;
    --transition-lg: 960ms;
    --transition-md: 480ms;
    --transition-sm: 240ms;
    --transition-xs: 120ms;
    --purple: #6207dc;
    --purple-light: #8c3ef5;
    --purple-lighter: #a96ef7;
    --purple-lightest: #e2cffc;
    --purple-dark: #5002ba;
    --purple-darker: #410297;
    --purple-darkest: #320173;
    --orange: #ff7b43;
    --orange-light: #ff9669;
    --orange-lighter: #ffbda1;
    --orange-lightest: #ffe5d9;
    --orange-dark: #e36d3a;
    --orange-darker: #c66034;
    --orange-darkest: #9c4d2b;
}

.head-xl {
    --lh: 1.1em;
    font-size: max(4.8rem, 6.6666666667vw);
}

.head-lg {
    --lh: 1.1em;
    font-size: max(3.6rem, 5vw);
}

.head-md {
    --lh: 1.1em;
    font-size: max(2.4rem, 3.3333333333vw);
}

.head-sm {
    --lh: 1.1em;
    font-size: max(1.8rem, 2.5vw);
}

.copy-lg {
    --lh: 1.4em;
    font-size: max(1.8rem, 2.5vw);
}

body,
.copy-md {
    --lh: 1.4em;
    font-size: max(1.2rem, 1.6666666667vw);
}

small,
.copy-sm {
    --lh: 1.4em;
    font-size: max(0.9rem, 1.25vw);
}

.copy-xs {
    --lh: 1.6em;
    font-size: max(0.7rem, 0.9722222222vw);
}

html {
    font-size: 100%;
}
html *,
html *:before,
html *:after {
    line-height: calc(1 * var(--lh));
}

body {
    font-family: "Inter-Light";
    position: relative;
    color: var(--color-text);
}
.overlay-is-visible body {
    overflow: hidden;
}

main {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: -webkit-transform var(--transition-md);
    transition: transform var(--transition-md);
    transition: transform var(--transition-md), -webkit-transform var(--transition-md);
}
.menu-is-visible main {
    -webkit-transform: translateX(-34%);
    transform: translateX(-34%);
}

.header {
    z-index: 5;
    position: fixed;
    right: 0;
    left: 0;
    top: var(--wp-admin-bar);
    pointer-events: none;
}
.header-inner {
    padding: var(--site-margin);
}

.site-title {
    visibility: hidden;
    pointer-events: none;
}

.button-nav {
    pointer-events: all;
}

.button-top {
    z-index: 1;
}

.site-title {
    pointer-events: all;
}

.footer-inner {
    margin: var(--site-margin);
}

.chapter {
    background: var(--color-bg);
}

.chapter-header {
    aspect-ratio: 16 / 9;
    margin: 0 calc(50% - 50vw);
}
.chapter-header + .chapter-content {
    margin-top: 9rem;
}
.chapter-header:not(:has(.chapter-image)) {
    aspect-ratio: auto;
}

.chapter-content {
    margin-bottom: 12rem;
}

.chapter-title {
    margin: var(--site-margin);
}

.chapter-subline {
    display: block;
}

.layout {
    position: relative;
}
.layout:before {
    font-family: Arial;
    font-size: 0.5em;
    text-transform: uppercase;
    position: absolute;
    top: 0.5em;
    left: -1rem;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.layout + .layout,
.intro + .layout {
    margin-top: calc(12.5 * var(--vh, 1vw));
}

button {
    cursor: pointer;
}
button:focus {
    outline: none;
}
button:has(.icon) {
    line-height: 0;
    background: white;
    border-radius: 50%;
}
button:has(.icon):hover {
    color: white;
    background: black;
}
button.trailing-icon {
    padding: calc(0.5 * var(--lh)) calc(1 * var(--lh));
    line-height: calc(1 * var(--lh));
    width: auto;
    border-radius: 0;
    display: inline-flex;
    gap: calc(0.5 * var(--lh));
    align-items: center;
}
button .icon {
    width: 1.5rem;
    padding: 0.125rem;
}
button[data-action="toggle-accordion"] .icon,
button[data-action="toggle-menu"] .icon,
button[data-action="close-lightbox"] .icon,
button[data-action="prev"] .icon,
button[data-action="next"] .icon,
button[data-action="drag"] .icon,
button[data-action="back-to-top"] .icon {
    width: 3rem;
    padding: 0.5rem;
}
button[data-action="lightbox-single"],
button[data-action="lightbox-slider"] {
    top: 0.5rem;
    right: 0.5rem;
}

.icon {
    aspect-ratio: 1;
}

.lightbox {
    z-index: 6;
    position: fixed;
    inset: 0;
    opacity: 0;
    transition: opacity var(--transition-md);
    background: rgba(0, 0, 0, 0.9);
}
.lightbox-inner {
    padding: var(--site-margin);
    height: 100%;
    display: flex;
    gap: 3.3333333333vw;
}
.lightbox.is-visible {
    opacity: 1;
}
.lightbox-content .swiper-slide {
    width: 50%;
    height: auto;
    opacity: 1;
    transition: opacity var(--transition-md);
}
.lightbox-content .swiper-slide:not(.swiper-slide-visible) {
    opacity: 0 !important;
}
.lightbox-content .swiper-slide-next,
.lightbox-content .swiper-slide-prev {
    opacity: 0.3;
}
.lightbox-content [disabled] {
    pointer-events: none;
}
.lightbox .source-image {
    align-self: flex-start;
}
.lightbox .source-image.is-landscape {
    width: 100%;
    height: auto;
}
.lightbox .source-image.is-portrait {
    width: auto;
    height: 100%;
}

.layout-contact-sheet .layout-inner {
    padding: 1.1111111111vw;
}

.contact-sheet {
    margin: -2.2222222222vw;
}
.contact-sheet-image {
    width: calc(25% - 2.2222222222vw);
    margin: 1.1111111111vw;
}

[class*="head-"] {
    text-transform: uppercase;
}

.regular {
    font-family: "Inter-Light";
}

.bold,
b,
strong {
    font-family: "Inter-Bold";
}

.uppercase {
    text-transform: uppercase;
}

:root,
[data-theme="default"] {
    --color-bg: white;
    --color-text: #202020;
    --color-link: #007bff;
}

[data-theme="blue"] {
    --color-bg: #e5f2ff;
}

.text-white {
    color: white;
}

.bg-white {
    background: white;
}

.width-vw {
    width: 100vw;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.width-75 {
    width: 75%;
}

.width-67 {
    width: calc(100% * 2 / 3);
}

.width-50 {
    width: 50%;
}
.width-50 [class*="space"],
.width-50 [class*="indent"] {
    --columns: 6 !important;
}

.width-33 {
    width: calc(100% / 3);
}

@media screen and (min-width: 768px) {
    .md\:width-vw {
        width: 100vw;
    }
    .md\:width-100 {
        width: 100%;
    }
    .md\:width-80 {
        width: 80%;
    }
    .md\:width-75 {
        width: 75%;
    }
    .md\:width-67 {
        width: calc(100% * 2 / 3);
    }
    .md\:width-50 {
        width: 50%;
    }
    .md\:width-50 [class*="space"],
    .md\:width-50 [class*="indent"] {
        --columns: 6 !important;
    }
    .md\:width-33 {
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 1280px) {
    .lg\:width-vw {
        width: 100vw;
    }
    .lg\:width-100 {
        width: 100%;
    }
    .lg\:width-80 {
        width: 80%;
    }
    .lg\:width-75 {
        width: 75%;
    }
    .lg\:width-67 {
        width: calc(100% * 2 / 3);
    }
    .lg\:width-50 {
        width: 50%;
    }
    .lg\:width-50 [class*="space"],
    .lg\:width-50 [class*="indent"] {
        --columns: 6 !important;
    }
    .lg\:width-33 {
        width: calc(100% / 3);
    }
}

.height-vh {
    height: 100vh;
}

.full-bleed {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.inset {
    inset: 0;
}

.top {
    top: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.center-self {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-content {
    display: flex;
}
.center-content > :first-child {
    margin: auto;
}

.front {
    z-index: 9999;
}

.back {
    z-index: -9999;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.column {
    display: flex;
    flex-flow: column wrap;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.scroll-default {
    scroll-behavior: auto;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.scroll-x {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
}
.scroll-x > * {
    flex-shrink: 0;
}

.scroll-snap-y {
    -ms-scroll-snap-type: y proximity;
    scroll-snap-type: y proximity;
}

.scroll-snap-x {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.snap-start {
    scroll-snap-align: start;
}

.snap-center {
    scroll-snap-align: center;
}

.margin {
    margin: var(--site-margin);
}

.wrap-lg {
    padding-right: 10%;
    padding-left: 10%;
}

.wrap-md {
    padding-right: 5%;
    padding-left: 5%;
}

.wrap-sm {
    padding-right: var(--site-margin);
    padding-left: var(--site-margin);
}

.indent-lg {
    padding-right: calc(16.6666666667 * var(--vh, 1vw));
    padding-left: calc(16.6666666667 * var(--vh, 1vw));
}

.indent-md {
    padding-right: calc(8.3333333333 * var(--vh, 1vw));
    padding-left: calc(8.3333333333 * var(--vh, 1vw));
}

.indent-sm {
    padding-right: calc(4.1666666667 * var(--vh, 1vw));
    padding-left: calc(4.1666666667 * var(--vh, 1vw));
}

.space-lg {
    padding-top: calc(16.6666666667 * var(--vh, 1vw));
    padding-bottom: calc(16.6666666667 * var(--vh, 1vw));
}

.space-md {
    padding-top: calc(8.3333333333 * var(--vh, 1vw));
    padding-bottom: calc(8.3333333333 * var(--vh, 1vw));
}

.space-sm {
    padding-top: calc(4.1666666667 * var(--vh, 1vw));
    padding-bottom: calc(4.1666666667 * var(--vh, 1vw));
}

.gap-lg {
    gap: var(--site-indent-lg);
}

.gap-md {
    gap: var(--site-indent-md);
}

.gap-sm {
    gap: var(--site-indent-sm);
}

.gap-lh {
    gap: var(--lh);
}

.gap-em {
    gap: 1em;
}

.lead-100 {
    margin-top: calc(1 * var(--lh));
}

.lead-75 {
    margin-top: calc(0.75 * var(--lh));
}

.lead-50 {
    margin-top: calc(0.5 * var(--lh));
}

.fade-in {
    transition: opacity var(--transition-lg);
    opacity: 0;
}
.fade-in.in-view {
    opacity: 1;
}

.transition-xl {
    transition: var(--transition-xl);
}

.transition-lg {
    transition: var(--transition-lg);
}

.transition-md {
    transition: var(--transition-md);
}

.transition-sm {
    transition: var(--transition-sm);
}

.pointer {
    cursor: pointer;
}

.no-pointer {
    pointer-events: none;
}

.cover {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.swiper-fade.swiper-free-mode .swiper-slide {
    transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
}
.swiper-fade .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}
/*# sourceMappingURL=style.site.css.map */
